@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


body {
    font-family: 'Roboto', sans-serif;
}


#main-header {
    background-color: #000;
}

#hero button {
    border: 1px solid #fff;
    text-transform: uppercase;
    background-color: #0f4a76;
    border-radius: 0;
    font-size: .9rem;
}

// NAV

.site-logo {
    position: absolute;
    top: 8px;
    z-index: 1;
}

// HERO

#hero {
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}


#services h1 {
    font-weight: lighter;
    font-size: 3.5rem;
    color: #0f4a76;
}

#services .card {                           
    background: linear-gradient(to bottom, rgb(20, 144, 233) 0%,rgb(9, 89, 150) 100%);
    color: #fff;
    min-height: 400px;
}

#services .card a, #services .card a:hover {
    color: white;
    text-decoration: none;
}

#services .card .fa {
    padding: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    font-size: 2rem;
}

#services .card h5 {
    font-weight: bold;
}

#about {
    overflow: hidden;
    background-color: #1a1712;
}


#contact {
    position: relative;
    background: url("../img/location_bg.jpg");
    background-size: cover;
    background-position: center;

    .info {
        position: relative;
        z-index: 2;
    }

    .shade {
        position: absolute;
        background: rgba(255,255,255, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .fa {
        font-size: 1.5rem;
    }

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        span {
            font-weight: lighter;
        }
    }
}

#main-footer {
    background: #000;
}


@media (max-width: 575px) {
    .site-logo {
        position: relative;
        top: 0px;
    }

    #services .card {
        min-height: 0;
    }
}


@media (min-width: px) and (max-width: 1199px) {
    #services .card {
        min-height: 450px;
    }
}